body {
  display: block;
  position: relative;
  width: 100%;
  background: rgb(19, 4, 4);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width:800px) {
  .body{
  font-size: 14px;}
}

.content {
  display: block;
  
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  background: linear-gradient(270deg, rgb(19, 4, 4), rgb(45, 13, 13) 100%);
  padding: 30px;
  margin: 0 auto 20px auto;
  
}

.content > * {
  display: block;
  position: relative;
}


@media screen and (max-width: 1188px) {
    .content {
        width: calc(100% - 10px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 480px) {
  .content {
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
  }}


h1,
h2,
h3,
h4,
.title {
  display: block;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #fff72e;
}

h1,
.title.general {
  text-transform: uppercase;
}

h2,
title.high {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 40px;
  width: auto;
}


h2::before,
.title.higt::before,
h2::after,
.title.higt::after {
  content: "";
  display: block;
  
  position: absolute;
  top: 0;
  bottom: 0;
 
  width: 64px;
  height: 18px;
  background: url(../image/bookmaker/left.svg) no-repeat center center / contain;
  margin: auto;
  
}

h2::before,
.title.higt::before {
  left:0;
}

h2::after,
.title.higt::after {
  background: url(../image/bookmaker/right.svg) no-repeat center center /
    contain;
  right: 0;
}

@media screen and (max-width:800px) {
  h2::before,
.title.higt::before,
h2::after,
.title.higt::after {

  width: 45px;
  height: 18px;
}
}

h3,
.title.medium {
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

h4,
.title.mini {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

article > *,
.article > *,
.desc > * {
  margin-top: 16px;
}

article > *:first-child,
.article > *:first-child,
.desc > *:first-child {
  margin-top: 0 !important;
}

article h2,
.article h2,
.desc h2 {
  margin-top: 40px;
}

article h3,
.article h3,
.desc h3 {
  margin-top: 32px;
}

article h4,
.article h4,
.desc h4 {
  margin-top: 24px;
}


.button {
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 170px;
  height: 45px;
  border-radius: 12px;
  border: none;
  background: #4cb63a;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 10.5px;
  margin: 0 auto;
  transition: all 0.5s;
}

.button:hover {
  border: 1px solid #fff72e;

  background: none;
  color: #fff72e;
}

.button.outline {
  border: 1px solid #fff72e;
  background: none;
  color: #fff72e;
  padding: 9.5px 10.5px;
}

.button.outline:hover {
  border: 1px solid #4cb63a;
  background-color: #4cb63a;
  color: #ffffff;
}

.background {
  /* display: block;
  position: absolute; */
  display: block !important;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

.background img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.header,
.main,
.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 15px 30px;
  margin: 0 auto;
}

@media screen and (max-width:748px) {
  .header,
.main,
.footer {
  padding: 15px;
}
}

/* ------------HEADER--------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(19, 4, 4);
  z-index: 1;
}


@media screen and (max-width: 400px) {
  .header {
  padding-left: 10px;
  padding-right: 10px;}
}

.header__logo {
  display: block;
  position: relative;
 
  max-width: 123px;
  margin-right: auto;
}



@media screen and(max-width:400px) {
  .logo img{
    
    min-width: 50px;
  }
}


  .header__btn-menu{
    display: block;
    flex: 0 1 auto;
    min-width: 0;
    border: 1px solid #2d0d0d;
    background:#2d0d0d;
    padding: 15px;
    margin-left: 15px;
    order: 3;
    
  }

@media screen and (max-width: 1188px) {
  .header__btn-menu.active {
    background-color: #2d0d0d;
  }
}

@media screen and (min-width: 1188px) {
  .header__btn-menu {
    display: none;
  }
}




svg {
  position: relative;
  fill: #ffffff;
  line-height: 1;
  vertical-align: 1;
}

@media screen and (max-width: 1188px) {
  .header__btn-menu svg {
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 1188px) {
  .header__btn-menu svg rect {
    transform-origin: 50% 50%;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 1188px) {
  .header__btn-menu.active svg rect:nth-child(1) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(225deg);
  }

  .header__btn-menu.active svg rect:nth-child(3) {
    opacity: 0;
  }

  .header__btn-menu.active svg rect:nth-child(2) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(135deg);
  }
}

@media screen and (max-width: 1188px) {
  .header__btn-menu.active ~ .header__menu {
    top: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 10;

    
  }
}


.logo img {
  display: block;
  
}

.menu {
  display: block;
  position: relative;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}


menu ul li {
  display: block;
  position: relative;
  padding: 0;
}

.menu ul li a {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  padding: 10.5px 10px;
  transition: all 0.5s;
}

.menu ul li a:hover {
  color: #fff72e;
}

.menu a {
  display: none;
}



@media screen and (max-width: 1188px) {
  .header__menu  {
    display: none;
  }
}

@media screen and (max-width: 1188px) {
  .header__menu.active {
   
      display: block;
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100%;
      height: auto;
  
      overflow: auto;
      background-color: #2d0d0d;
      text-align: center;
      z-index: -1;
      padding: 64px 32px;
      transition: all 0.5s;
    

      li a {
        font-size: 16px;
      }
  }

  
}

@media screen and (max-width: 1188px) {
  
    
    
  }


@media screen and (max-width: 1188px) {
  .header__menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

    
  }

  


}

.header__menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}



.header__menu ul li:not(:last-child)::after {
  content: "";
  display: block;
  position: relative;
  width: 30px;
  height: 12px;
  background: url(../image/header/romb.svg) no-repeat center center / contain;
  vertical-align: middle;
}

@media screen and (max-width:1188px) {
  .header__menu ul li::after {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 12px;
    background: url(../image/header/romb.svg) no-repeat center center / contain;
    vertical-align: middle;
  }

  .header__menu ul li::before {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 12px;
    background: url(../image/header/romb.svg) no-repeat center center / contain;
    vertical-align: middle;
  }
}

.header__button-login {
  margin: auto 20px auto auto;
}

@media screen and (max-width: 800px) {
  .header__button-login {
    display: none;
  }
}

@media screen and (max-width: 1188px) {
  .menu .header__button-login  {
    display: inline-block;
    margin-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .menu .header__button-login  {
    margin: 0;
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .menu .header__button-login  {
    margin: 0;
    margin-right: 10px;
    
  }
}



.header__button-register {
  margin: auto 20px auto 0;
}

@media screen and (max-width: 800px) {
  .header__button-register {
    
    margin-left: auto;
  }
}

@media screen and (max-width: 575px) {
  .header__button-register {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .menu .header__button-register  {
    display: inline-block;
    margin: 0 ;
    
  }
}

@media screen and (max-width: 400px) {
  .menu .header__button-register  {
    margin:  0;
    
  }
}



.header__lang {
  display: block;
  position: relative;
  
  border-radius: 50%;
}

@media screen and (max-width: 575px) {
  .header__lang {
    margin-left: auto;
    
  }
}


.header__lang img {
  display: block;
  position: relative;
  max-width: 24px;
  max-height: 24px;
}

/* -------------MAIN-------------- */

.main {
  padding-top: 80px;
  padding-bottom: 0;
}

/* -------------SIDEBAR-------------- */

.sidebar-wrapper {
  display: block;
  position: relative;
  align-self: stretch;
  flex: 0 0 240px;
}

@media screen and (max-width:1242px) {
 .sidebar-wrapper{
    display: none;
  }
}

.sidebar {
  position: sticky;

  top: 80px;
  bottom: 20px;
  background: #2d0d0d;
  padding: 16px 16px 16px 0;
  margin-top: 20px;
}




.sidebar__menu::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #2b1234 0%,
    rgba(255, 247, 46, 0.733333) 24.02%,
    #fff72e 48.91%,
    #fff72e 73.97%,
    #2b1234 100%,
    #292526 100%
  );
  margin: 20px 0;
}

.sidebar__menu ul {
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__menu ul li + li {
  margin-top: 10px;
}

.sidebar__menu ul li a,
.sidebar__links-list a {
  padding: 4px 17px;
  width: 240px;
}

.sidebar__menu li a,
.sidebar__links-list a {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 24px;
}

.sidebar__menu li:hover,
.sidebar__links-list li:hover {
  background: linear-gradient(270deg, rgb(45, 13, 13), rgb(19, 4, 4) 100%);
}

.sidebar__menu li a img {
  max-width: 24px;
  max-height: 24px;
  margin: auto;
  margin-right: 18px;
}

.sidebar__links-button {
  position: relative;
  width: 100%;
  background: none;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  white-space: normal;
  padding-right: 36px;
  padding-left: 20px;
}

.sidebar__links-button::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(../image/menu-left/ArrowUp.svg) no-repeat center center /
    contain;
}





.sidebar__links-button.active::before{
  transform: rotate(180deg);
}

.sidebar__links-list {
  display: none;
  margin-top: 10px;
}

.sidebar__links-list.active {
  display: block;
}

.sidebar__links-list a {
  color: #ffffff;
  margin-top: 5px;
}

/* --------------   CONTENT-WRAPPER--------------- */

.content-wrapper {
  display: block;
  position: relative;
  flex: 1 1 100%;
  margin-left: 20px;
}

/* -------------HERO-------------- */

.hero {
  width: 100%;
  max-width: 1280px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 72px 0 0 106px;
  
  
}

@media screen and (max-width:1600px) {
  .hero{
   
    padding: 50px 0 0 106px;
  }

  
}

@media screen and (max-width:1240px) {
  .hero{
    padding: 40px 0 0 50px;
  }

  .content-wrapper{
    margin-left: 0;
  }
}

@media screen and (max-width:800px) {
  .hero{
    padding: 30px 0 0 50px;
   
  }

  
}

@media screen and (max-width:764px) {
  .hero{
    
    padding: 50px 10px 20px 40px;
  }
}


@media screen and (max-width:480px) {
  .hero{
    min-height: 380px;
    /* max-width: 480px; */
    background: url(../image/hero/christoph-schadl-sherlock.png) no-repeat center center / contain;
    overflow: hidden;
    padding: 80px 30px 40px 70px;
    margin: 0;
    margin-bottom: 20px;
   
  }

  .hero__images{
    display: none;
  }
}



.hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    90deg,
    #2b1234 0%,
    rgba(255, 247, 46, 0.733333) 24.02%,
    #fff72e 48.91%,
    #fff72e 73.97%,
    #2b1234 100%,
    #292526 100%
  );
}

.hero__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width:764px) {
  .hero__wrapper{
    
    position: relative;
    max-height: 100%;
    flex-direction: column;

    
  }

  .hero__images{
    position: absolute;
    opacity: 0.5;
  }
}

@media screen and (max-width:480px) {
  
}

.hero__data {
  display: block;
  position: relative;
  max-width: 510px;
}

@media screen and (max-width:480px) {
  .hero__data {
    
  }
}

.hero__rating {
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
}

.hero__rating p {
  margin-right: 18px;
}

.hero__title {
  text-align: left;
  padding: 8px 0;
}

@media screen and (max-width:800px) {
  .hero__title{
    font-size: 28px;
  }
}

@media screen and (max-width:764px) {
  .hero__title{
    font-size: 24px;
  }

  .hero__subtitle{
    font-size: 14px;
  }
}

@media screen and (max-width:480px) {
  .hero__title{
    font-size: 28px;
  }

  .hero__subtitle{
    font-size: 12px;
  }
}

.hero__button {
  margin-top: 24px;
}

.image {
  flex: 1 1 570px;
  
}

.image img {
  display: block;
  position: relative;

  margin: auto;
}
/* ---------------ARTICLE----------- */
.article {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  
}

@media screen and (max-width:480px) {
  .article{
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 0 20px 0;
  }
}
/* --------------FEATURES------------- */

.features {
  display: flex;
  width: calc(100% - 10px);
  margin-bottom: 20px;
}



@media screen and (max-width: 800px) {
  .features{
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .features{
    width: calc(100% - 10px);
  }
}


.features__wrapp {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .features__wrapp {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* @media screen and (max-width: 480px) {
  .features__wrapp {
    width: 100%;
   

  }
} */

.features__banner {
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: column;
}

/* .features__banner > * {
  flex: 1 1 50%;
} */
.features-banner__background{
  position: relative;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .features-banner__background{
    width: 100%;
  }
}

.features-banner__background img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(45, 13, 13, 0),
    rgba(19, 4, 4, 0.6) 100%
  );
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .features-banner__background img  {
    max-width: 480px
    
  }
}

.features-banner__images {
  position: absolute;
  top: 0;
  left: 0;
}

.features-banner__img {
  position: absolute;
  top: 0;
  right: 0;
}

.features-banner__data{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}


.features-banner__logo {
  margin-bottom: 84px;
}
@media screen and (max-width:800px) {
  .features-banner__logo {
   max-width: 200px;
   margin-bottom: 40px;
  }
}

@media screen and (max-width:480px) {
  .features-banner__logo {
   max-width: 240px;
   
  }
}



 @media screen and (max-width:480px) {
  .hero{
    
    
  }
} 





.features-banner__title {
  margin-bottom: 23px;
  white-space: nowrap;
}

@media screen and (max-width:900px) {
  .features-banner__title {
    font-size: 20px;
  }
}

@media screen and (max-width:800px) {
  .features-banner__title {
    font-size: 32px;
    margin-bottom: 50px;

    .features-banner__subtitle{
      font-size: 18px;
    }
  }
  
}

@media screen and (max-width:480px) {
  .features-banner__title {
    font-size: 28px;
    margin-bottom: 30px;

    .features-banner__subtitle{
      font-size: 16px;
    }
  }
  
}

@media screen and (max-width:320px) {
  .features-banner__title {
    font-size: 24px;
    margin-bottom: 30px;

    .features-banner__subtitle{
      font-size: 14px;
    }
  }
  
}

.features-banner__title::before{
 content: none;
 
}

.features-banner__title::after{
  content: none;
  
 }

.features-banner__title  span{
  font-size: 16px;
  font-weight: 700;
  color:#ffffff;
  margin-bottom: 9px;
}

.features-banner__button{
  margin-left: 0;
  margin-right: 0;
}

.content__wrapp {
  width: calc(50% - 10px);
}

@media screen and (max-width:800px) {
  .content__wrapp {
  width: 100%;}
}

.features__list {
  background: linear-gradient(270deg, rgb(19, 4, 4), rgb(45, 13, 13) 100%);
  border-radius: 12px;
  padding: 24px 30px;
}

@media screen and (max-width:480px) {
  .features__list {
    padding: 15px;
  }
}

.features__item {
  margin-bottom: 20px;
}

.features__list li {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(270deg, rgb(45, 13, 13), rgb(19, 4, 4) 100%);
  padding: 8px 16px;
}

.features__list li + li {
  margin-top: 6px;
}
.features__list li::before {
  content: "";
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../image/Check.svg) no-repeat center center/contain;
  vertical-align: middle;
  margin-right: 20px;
}

.features__table table {
  width: 100%;
}

.features__table tr {
  display: flex;
  /* display: table-row; */
  align-items: center;
  margin-top: 6px;
}

.features__table tr:first-child {
  margin-top: 0;
}
.features__table td {
  /* width: calc(50% - 10px); */
  width: 40%;
  border-radius: 12px 0px 0px 12px;
  background: linear-gradient(270deg, rgb(45, 13, 13), rgb(19, 4, 4) 100%);
  white-space: nowrap;
  padding: 6.5px 16px;
  /* margin-top: 4px; */
}
.features__table td + td {
  /* width: 100%; */
  width: 60%;
  border-radius: 0px 12px 12px 0px;
}

@media screen and (max-width:1488px) {
  .features__table td  {
  width: 60%;
  }
 }

@media screen and (max-width:1188px) {
  .features__table td  {
  width: 50%;
  }
 }



 @media screen and (max-width:1100px) {
  .features__table td  {
  width: 60%;
  }
 }

 @media screen and (max-width:800px) {
  .features__table td  {
  width: 50%;
  }
 }

 @media screen and (max-width:510px) {
  .features__table td  {
  width: 60%;
  }
 }

 @media screen and (max-width:1488px) {
  .features__table td +td  {
  width: 40%;
  }
 }

 @media screen and (max-width:1188px) {
  .features__table td +td  {
  width: 50%;
  }
 }
 
 @media screen and (max-width:1100px) {
  .features__table td +td  {
  width: 40%;
  }
 }

 @media screen and (max-width:800px) {
  .features__table td +td  {
  width: 50%;
  }
 }

 @media screen and (max-width:510px) {
  .features__table td +td  {
  width: 40%;
  }
 }

/* ------------REVIEW---------- */
article ul {
  display: block;
  position: relative;
}


.review,.ratings,.faq{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
  



.review h2,.ratings h2,
.faq h2{
 
  /* width: max-content; */
  width: auto;
  flex-wrap: wrap;
  padding: 0 80px;
  
 
}

.review h3,.review p{
  width: 100%;
}

@media screen and (max-width: 800px) {
  .review h2,.ratings h2,
.faq h2{
  font-size: 24px;
  line-height: 32px;
  padding: 0 60px;
  
 
}
}

@media screen and (max-width: 4800px) {
  .review h2,.ratings h2,
.faq h2{font-size: 20px;
  line-height: 24px;}}




article ul > li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
}

article ul > li::before {
  content: "-";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

article img {
  border-radius: 12px;
}

.image__review {
  margin-top: 22px;
  margin-bottom: 30px;
}

.review__img {
  margin-bottom: 26px;
  margin-top: 26px;
}

.review__desc{
  margin-top: 0;
}

.review__button {
  margin: 20px auto 0px auto;
  
}


/* ------------RATING------------ */

.ratings__list {
  
  column-count: 2;
  margin-top: 22px;
}

@media screen and (max-width:1188px) {
  .ratings__list{
    
    column-count: 1;
    
  }
}

.ratings__list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: linear-gradient(270deg, rgb(45, 13, 13), rgb(19, 4, 4) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 20px 6px 20px;
  margin-bottom: 21px;
 
  
 }
  

 .ratings__list li:nth-child(3n) {
  margin-bottom: 0;
}

@media screen and (max-width:1188px) {
  .ratings__list li:not(:last-child) {
    margin-bottom: 21px;}
} 

.ratings__button {
  margin: 30px auto 0px auto;
}

.ratings__images{
  display: flex;
  flex-wrap: wrap;
  gap:11px;
  
}

@media screen and (max-width: 1600px) {
  .ratings__images{
    
    gap:6px;
    
  }

  
}

@media screen and (max-width: 1370px) {
  .ratings__images{
    
    gap:4px;
    
  }

  .ratings__images img{
    width: 13px;
    height: 13px;
  }

  .ratings__list li  p{
    font-size: 14px;
  }
}

@media screen and (max-width: 1189px) {
  .ratings__images{
    
    gap:11px;
    
  }

  .ratings__images img{
    width: 19px;
    height: 20px;
  }

  .ratings__list li  p{
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .ratings__images{
    
    gap:4px;
    
  }

  .ratings__list li span{
    
    font-size: 14px;
    
  }

  .ratings__images img{
    width: 10px;
    height: 13px;
  }

  .ratings__list li  {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
  }

  .ratings__list li  p{
    font-size: 14px;
    
  }
}

@media screen and (max-width: 320px) {
  .ratings__list li span{
    
    display: none;
    
  }
}








/* ----------FAQ----------------- */

.faq__list{
  margin-top: 26px;
}

.faq__list li{

  border-radius: 12px;
  background: linear-gradient(270.00deg, rgb(45, 13, 13),rgb(19, 4, 4) 100%); 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 13px 20px;
 
}

.faq__list li:not(:last-child){
  margin-bottom: 20px;
}
.faq__question{
  margin-top: 13px;
}
.js-expand-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item__title{
  display: flex;
  align-items: center;
  text-transform: uppercase;

}

.faq-item__title::before {
    content: "";
    position: absolute;
    right: 16px;
    width: 14px;
    height: 14px;
    background: url(../image/faq.svg) no-repeat center center / contain;
    vertical-align: middle;
    transition: all 0.5s;
   
    
}

@media screen and (max-width: 480px) {
  

  .faq-item__title::before {
    right: 5px;
  }
}

@media screen and (max-width: 320px) {
  

  .faq-item__title::before {
    right: 0;
  }
}

.faq-item__title.active::before {
  transform: rotate(180deg);
}




/* --------------FOOTER--------------- */

.footer{
  text-align: center;
  max-width: 100%;
  width: max-content;
  padding: 20px 30px 33px 300px;;
}

.footer-content{
 
  flex-direction: column;
  
  /* margin-left: auto;
  margin-right: auto; */
  /* padding: 20px 30px 33px 300px; */
}

@media screen and (max-width:1270px) {
  .footer-content{
    padding: 20px 30px 33px 30px;
  }
}
@media screen and (max-width:840px) {
  .footer-content{
    width: 100%;
  }

  
}

@media screen and (max-width:320px) {
  

  .footer__line{
    display: none;
  }

  
}


.footer ul {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  

  
}

@media screen and (max-width:1400px) {
  .footer ul {
    flex-wrap: wrap;
   
    
  }
}
@media screen and (max-width:1270px) {
  .footer ul {
    flex-wrap: wrap;
   
    
  }}
  
  @media screen and (max-width:320px) {
    .footer ul {
      margin-top: 0;
     
      
    }
  }


.footer__item{
  /* display: flex; */
  padding-right: 16px;
}


.footer__item + .footer__item{
  border-left: 1px solid #fff72e;
  color:#ffffff;
  padding-left: 16px;
}

.footer__item a{
  color: #ffffff;
}

@media screen and (max-width:480px) {
  .footer__item:nth-child(2n) a{
    color:#fff72e
  }

  .footer__item + .footer__item{
    border-left: none;}
}



.footer-card__list{
  padding-bottom: 32px;
  gap: 12px;
}

 @media screen and (max-width:840px) {
  /* .footer-card__list li  {
    flex-basis: calc((100% - 30px) / 4);
  } */

  
} 



.footer-card__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    rgba(255, 247, 46, 0) 1.44%,
    rgb(255, 247, 46) 50.082%,
    rgba(255, 247, 46, 0) 98.724%
  );
}

.footer__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 34px;
      
}

@media screen and (max-width:400px) {
  .footer__box{
    flex-direction: row;
    
  
}}

.footer__box p{
  margin-left: 80px;
  
}

@media screen and (max-width:480px) {
  .footer__box p{
    margin-left: 0;
    
  } 
}

.footer__box img{
  margin-right: 80px;
  
}

@media screen and (max-width:480px) {
  .footer__box img{
    margin-right: 0;
    
  } 
}

.footer__arrow{
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

@media screen and(max-width:320px) {
  .footer__arrow{
    top: 5px;
    right: 10px;
    
  }
}


